@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container{
    height: 100vh;
    width: 100%;
}

.main-container .login-container{
    display: grid;
    grid-template-columns: 5fr 5fr;
    height: 100%;
}


.login-container #login-form{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.logo img{
    width: 80px;
    height: 80px;
}