@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input{
    letter-spacing: 1.5px;
}

.main-container{
    height: 100vh;
    width: 100%;
}

.main-container .login-container{
    display: grid;
    grid-template-columns: 5fr 5fr;
    height: 100%;
}

.logo img{
    width: 80px;
    height: 80px;
}


.login-container #login-form{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


#login-form .button-container button{
    width: 50%;
    font-weight: 500;
    letter-spacing: 1px;
}


.login-container .container .bg-img-container{
    height: 100%;
}

.login-container .container .bg-img-container img{
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* @media screen and (max-width: 800px){

    .main-container{
        display: flex;
        padding: 0;
    }

    .main-container .login-container{
        display: block;
        width: auto;
        height: auto;
    }

    .login-container .container .bg-img-container{
        height: 100%;
    }

    .login-container .container .bg-img-container{
        display: none;
    }
} */